In [146]:
import pandas as pd
df = pd.read_csv('apt.csv', encoding="cp949")

In [2]:
df.head()

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22

In [5]:
# 컬럼명 전체 출력
df.columns

Index(['지역', '번지', '본번', '부번', '아파트', '면적', '계약년월', '계약일', '가격', '층', '건축년도',
       '도로명'],
      dtype='object')

In [8]:
df[0:0]

Empty DataFrame
Columns: [지역, 번지, 본번, 부번, 아파트, 면적, 계약년월, 계약일, 가격, 층, 건축년도, 도로명]
Index: []

In [20]:
# index 를 직접 지정한 것이 아니라면 '범위값'이 출력된다. 
df.index

RangeIndex(start=0, stop=42758, step=1)

In [13]:
import numpy as np

In [17]:
data = pd.DataFrame(np.arange(10).reshape(2,5),
            index=['가','나'])

In [19]:
data.index

Index(['가', '나'], dtype='object')